# ChirpStack access variables
# Uncomment and fill CHIRPSTACK_TENANT_ID variable for single-tenant deployment
# CHIRPSTACK_TENANT_ID=
CHIRPSTACK_API_TOKEN=
CHIRPSTACK_GATEWAY_ID=

# Ran Routing access variables
RAN_API_URL=
RAN_TOKEN=

# Other config variables
CHIRPSTACK_DEVICES_REFRESH_PERIOD="300"
LOG_LEVEL="info"
